.ecran {
  width: 750px;
  height: 1010px;
  background-color: blue;
  /* border-style: solid; */
  margin: auto;
}

.prompteur {
  width: 600px;
  border-style: solid;
  margin: auto;
}

.vignette {
  width: 100px;
  border-style: solid;
}
